<h1>New lgseating</h1>

<h1>Classroom Seating</h1>  
<table border cellspacing=4 width="100%"> 
<br /><br /> FRONT OF CLASS <br /> 
<% for i in 1..5 %>
 	<tr>
	<% for j in 1..9 %>
		<td>
		<% student = Lgseating.where(:row => i, :column => j).first %>
			
		<% if j == 5 %>
			BLANK CELL 
		<% else %>			
			<% if !student.blank? %>
				<%= student.studentfirst %><br />
				<%= student.studentlast %><br />				
			<% else %>
				Student <%= i %> <%= j %><br />
			<% end %> 			
		<% end %>
		</td> 		
	<% end %> 	
	</tr> 
<% end %> 
</table>   
<br />


<% user = UsersAccess.find(session[:user_id]) %>

<% lguser = Lgseating.where(:studentfirst =>  user.firstname).first %>
<% if !lguser.blank? %>
		<% id = Lgseating.find(lguser.id) %>
	    <%= link_to 'Destroy', id, :confirm => 'Are you sure?', :id => lguser.id, :method => :delete %>
		<br />

<% else %>

	<%= render 'form' %>

<% end %>	
  

<%= link_to 'Back', lgseatings_path %>
